
<section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Blog</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#page-breadcrumb-->

    <section id="blog" class="padding-top">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-7">
                    <div class="row">
                         <div class="col-sm-12 col-md-12">
                          <% @blogs.order('created_at DESC' ).each do |blog| %>
                            <div class="single-blog single-column">
                                <div class="post-thumb">
                                    <%= link_to image_tag(blog.image.large, class: "img-responsive"), blog %>
                                    <div class="post-overlay">
                                       <span class="uppercase"><a href="#"><%= blog.created_at.strftime("%d") %><br><small><%= blog.created_at.strftime("%b") %></small></a></span>
                                   </div>
                                </div>
                                <div class="post-content overflow">
                                    <h2 class="post-title bold"><a href="blogdetails.html"><%= blog.title.split.map(&:capitalize).join(' ') %></a></h2>
                                    <!-- <h3 class="post-author"><a href="#">Posted by micron News</a></h3> -->
                                    <p><%=h truncate(blog.body, :length => 80) %></p>
                                    <%=  link_to "View More", blog %>
                                    <!-- <div class="post-bottom overflow">
                                        <ul class="nav navbar-nav post-nav">
                                            <li><a href="#"><i class="fa fa-tag"></i>Creative</a></li>
                                            <li><a href="#"><i class="fa fa-heart"></i>32 Love</a></li>
                                            <li><a href="#"><i class="fa fa-comments"></i>3 Comments</a></li>
                                        </ul>
                                    </div> -->
                                </div>
                            </div>
                            <% end %>
                        </div>
                        
                        
                    </div>
                    <!-- <div class="blog-pagination">
                        <ul class="pagination">
                          <li><a href="#">left</a></li>
                          <li><a href="#">1</a></li>
                          <li><a href="#">2</a></li>
                          <li class="active"><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a href="#">5</a></li>
                          <li><a href="#">6</a></li>
                          <li><a href="#">7</a></li>
                          <li><a href="#">8</a></li>
                          <li><a href="#">9</a></li>
                          <li><a href="#">right</a></li>
                        </ul>
                    </div> -->
                 </div>
                 <div class="col-md-3 col-sm-5">
                     <%= render  "blog_sidebar" %>
                </div> 
            </div>
        </div>
    </section>
    <!--/#blog