<section id="home-slider">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <div class="slide-text" style="z-index:2;">
                        <h1>We Love Compounding</h1>
                        <p>Hicare Pharmacy is a full-service pharmacy that specializes in compounding. We accept most major prescripton plans. And are open on Saturdays.</p>
                        <a href="#footer" class="btn btn-common">CONTACT US</a>
                    </div>
                    <%#= image_tag("home/slider/hill.png", class: 'slider-hill img-responsive', alt: 'slider image') %>
                    <%#= image_tag("home/slider/house.png", class: 'slider-house img-responsive', alt: 'slider image') %>
                    <%#= image_tag("home/slider/sun.png", class: 'slider-sun img-responsive', alt: 'slider image') %>
                    <%#= image_tag("home/slider/birds1.png", class: 'slider-birds1 img-responsive', alt: 'slider image') %>
                    <%#= image_tag("home/slider/birds2.png", class: 'slider-birds2 img-responsive', alt: 'slider image') %>
                    
                    <!--</div> -->
                </div>
               
                <%= image_tag("home/hicare-banner.png", class: 'img-responsive', style: "position:absolute; bottom:0; right:0; width:60%; max-width:750px;") %>
                    
            </div>
        </div>
        <!-- <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div> -->
    </section>
    <!--/#home-slider-->

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <%= image_tag('compounding.png') %>
                        </div>
                        <h2>Expert Compounding</h2>
                        <p>Working closely with you and your physician we able to prepare a variety of custom medications using the highest quality ingredients, that may be more effective for you than commercial drugs</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <%= image_tag('knowledge-staff.png') %>
                        </div>
                        <h2>Knowledgeable Staff</h2>
                        <p>Our team of pharmacists offer personalized patient care by providing both commercial and custom, prescription medications. You will feel at home when you walk into our modern apothecary space. We strive to provide old-fashioned customer service while using the latest pharmacy technology. </p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <%= image_tag('in-and-out.png') %>
                        </div>
                        <h2>In and Out</h2>
                        <p>Because we are independently owned and right in your neighborhood, we are able to provide service tailored to your needs. This means excellent care without the long lines </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#services-->

    <section id="action" class="responsive">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action take-tour">
                        <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                            <h1 class="title">Quality</h1>
                            <p>It’s the active ingredient in everything we offer</p>
                        </div>
                        <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                            <!-- <div class="tour-button">
                                <a href="#" class="btn btn-common">TAKE THE TOUR</a>
                             </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->

    <section id="features">
        <div class="container">
            <div class="row">
                <div class="single-features">
                    <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <%= image_tag('pain-management.png', class: 'img-responsive') %>
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Pain Management</h2>
                        <P>Everyone experiences some sort of pain in their lives. Every individual is unique, and the types of pain experienced can be equally diverse. By working closely with your healthcare provider we can provide treatments tailored specifically to your pain management needs.</P>
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Sports Medicine</h2>
                        <P>Whether you’re a workout enthusiast, a high school player , or a weekend warrior trying to ease the pain of the work week, compounding allows us to prepare medications that are just right for your body, for the ultimate in therapy.</P>
                    </div>
                    <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <%= image_tag('sports-medicine.png', class: 'img-responsive') %>
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <%= image_tag('alternative-medicine.png', class: 'img-responsive') %>
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Alternative Medication Delivery</h2>
                        <P>Unique medication delivery for your unique needs. We can take just about any medication and turn it into a capsule, oral liquid, lollipop, topical cream, suppository, ear or eye drop, nasal spray or sterile injection. The result? A way to take medicine that helps increase patient compliance.</P>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <!--/#features-->

    <section id="clients">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                        <!-- <p><%#= image_tag('home/client2.png', class: 'img-responsive') %></p> -->
                        <h1 class="title">Our Network</h1>
                        
                    </div>
                    <div class="clients-logo wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="col-xs-4 col-sm-4">
                            <a href="#"><%= image_tag('pcca.png', class: 'img-responsive') %></a>
                        </div>
                        <div class="col-xs-4 col-sm-4">
                            <a href="#"><%= image_tag('ashp.gif', class: 'img-responsive') %></a>
                        </div>
                         <div class="col-xs-4 col-sm-4">
                            <a href="#"><%= image_tag('ncpa.gif', class: 'img-responsive', style: 'margin: 0 auto;') %></a>
                        </div>
                         
                    </div>
                </div>
            </div>
        </div>
     </section>
    <!--/#clients-->