<section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Women's health: Bio-identical Hormone Replacement Therapy (BHRT)</h1>
                            
                        </div>
                     </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#page-breadcrumb-->

    <section id="company-information" class=" wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    
                    <%= image_tag("womens_health.jpg", class:"img-responsive") %>
                </div>
                <div class="col-sm-6 padding-top">
                    <p><b>Are your hormones out of balance?</b></p>
                    <p>Anyone who has been through puberty knows that hormones have a powerful effect on one’s body. Hormones affect many areas of your health, including your mood, your metabolism, and your sexual and reproductive function. If your hormones become unbalanced, whether due to menopause or other factors, you may end up feeling like a stranger in your own skin. However, bio-identical hormone replacement therapy (BHRT) is a way to restore balance and help you feel like yourself again.</p>

                </div>
            </div>
        </div>
    </section>

    <section id="company-information" class=" wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p><b>Hormone therapy designed specifically for your body</b></p>
                    
                    <p>BHRT is most often prescribed to ease the symptoms of menopause, but it also can be used to treat a variety of conditions that women of all ages may experience, including:</p>

                    <ul>
                        <li>Pre-menstrual syndrome (PMS)</li>
                        <li>Irregular menstrual cycle</li>
                        <li>Moodiness</li>
                        <li>Infertility</li>
                        <li>Post-partum depression</li>
                        <li>Weight gain</li>
                        <li>Endometriosis</li>
                        <li>Fibrocystic breasts</li>
                        <li>Sleep disturbances</li>
                        <li>Hot flashes</li>
                        <li>Night sweats</li>
                        <li>Decreased libido</li>
                        <li>Painful sexual intercourse</li>
                        <li>Vaginal dryness</li>
                    </ul>

                    <p>These conditions affect millions of women. As the number of women seeking hormone-related treatment has grown, so has the mass production of pills, patches and creams by the drug industry. However, each woman’s body is different and has its own unique needs, but commercially manufactured products tend to be “one-size-fits-all,” and do not always account for the differences between individuals.</p>

                    <p><b>No two women are alike, of course, and compounding pharmacists understand this fact.</b></p>

                    <p>Pharmacy compounding is the art and science of preparing customized medications for patients. The advantage of compounded BHRT is that it can be adapted specifically to fit each individual’s body and hormone levels. Bio-identical hormones have the exact chemical structure as the hormones in the human body. The body recognizes them and allows them to mimic the function of the hormones the body produces on its own.</p>

                    <p>A compounding pharmacist can provide a hormone evaluation for the patient to fill out.A pharmacist experienced in BHRT may assist the healthcare provider in helping interpret the results of serum of saliva tests which measure a patient’s hormone levels. The healthcare provider, compounding pharmacist, and the patient can use the results of these diagnostic tools to help determine a course of treatment which will give the patient the exact amount of hormones her body needs.</p>

                    <p>Working closely with a woman and her healthcare provider, a compounding pharmacist can help a woman start and maintain a bio-identical hormone replacement regimen that brings her hormones back into balance and closely mimics what her body has been doing naturally for years. With a healthcare provider’s prescription, the pharmacist can prepare hormones in a variety of strengths and dosage forms, including:</p>

                    <ul>
                        <li>Capsules</li>
                        <li>Topical or vaginal creams, gels, and foams</li>
                        <li>Suppositories</li>
                        <li>Sublingual drops or troches</li>
                    </ul>

                    <p>Once the therapy is begun, the pharmacist will continue to work with the woman and her prescriber to make sure the BHRT is working correctly, adjusting the dosage if necessary, ensuring that the medication is just right for her body.</p>

                    <p>It’s your body…why not give yourself the option of a customized, bio-identical hormone therapy?</p>

                    <p>Talk to your healthcare provider, or ask us about bio-identical hormone replacement therapy.</p>
                </div>
            </div>
        </div>
    </section>