<section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Men's Health Compounding</h1>
                      
                        </div>
                     </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#page-breadcrumb-->

    <section id="company-information" class="padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="container">
            <div class="row">
                
                <div class="col-sm-7 col-xs-12">
                	<p><b>Maintain your health and vitality with customized care.</b></p>
                    <p>Compounding pharmacists can help with many health issues that affect men of all ages.</p>

					<p>Many men have concerns about:</p>
					<ul>
						<li>Erectile dysfunction</li>
						<li>Low libido</li>
						<li>Loss of zest for life</li>
						<li>Prostate and bladder health</li>
						<li>Aches and pains</li>
						<li>Fungal infections, such as athlete’s foot or jock itch</li>
						<li>Hair loss</li>
						<li>Excessive sweating</li>
						<li>Chronic bad breath</li>
						<li>Aging skin</li>
					</ul>

					<p>A compounding pharmacist can create customized treatment options for these and many other health issues, including nutritional support to help maintain your health.</p>

					<p><b>Maintain your health with treatments that are customized for you.</b></p>
                    <p>Pharmacy compounding is the art and science of preparing customized medications for patients. Modern technology and innovative techniques and research allow many healthcare providers to work with pharmacists to customize medications, which provide their patients with the benefit of medications tailored specifically for certain needs.</p>

					<p>A compounding pharmacist can tailor a prescription to the exact strength required by the  individual patient, and make it in a dosage form that is easy for the patient to use. This may allow the patient to comply better with the dosing instructions, resulting in a more positive experience and treatment outcome.</p>

					<p><b>Unique Dosage Forms</b></p>

					<p>An important benefit is the compounding pharmacist’s ability to alter the delivery system of medications. Working closely with a healthcare provider, a compounding pharmacist can develop a dosage form that works best for the patient.</p>

					<p>Many medications, such as some used to treat aches and pains, are commonly available as capsules or tablets. However, medications taken orally must pass through a patient’s digestive tract before making their way into the system, which may delay the effect of the medication or result in gastrointestinal side effects.</p>

					<p>With a prescriber’s consent, a compounding pharmacist can prepare many of these medications as topical preparations – creams, lotions, solutions, or gels which are applied directly to the skin. Topical preparations allow the drug to be absorbed through the skin</p>
                </div>
                <div class="col-sm-3 col-sm-offset-0 col-xs-6 col-xs-offset-3">
                    <!-- <img src="images/aboutus/1.png" class="img-responsive" alt=""> -->
                    <%= image_tag("mens-health.jpg", class: "img-responsive") %>
                </div>
            </div>
        </div>
    </section>

    <section id="company-information" class=" wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    
                 
                    
                </div>
            </div>
        </div>
    </section>