<section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Pain Management Compounding</h1>
                            
                        </div>
                     </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#page-breadcrumb-->

    <section id="company-information" class=" wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="container">
            <div class="row">
               <!--  <div class="col-sm-6">
                    <img src="images/aboutus/1.png" class="img-responsive" alt="">
                    <%#= image_tag("mens-health3.jpg", class:"img-responsive") %>
                </div> -->
                <div class="col-sm-12 ">
                    <p><b>Everyone experiences some sort of pain in their lives.</b></p>
                    <p>It can take the form of a stress-induced headache, a muscle group strained from sports activities, or be the result of an injury at work or an automobile accident. For some, pain can be chronic in nature and something they live with on a daily basis.

                    Pain is the most common symptom for which individuals seek medical help. Acute pain easily can evolve into chronic pain, which can become difficult to treat. Many commonly prescribed, commercially available pain relief medications help the symptoms associated with chronic conditions such as arthritis, fibromyalgia, migraine headaches, and other nerve and muscle pain, but they can also result in unwanted side effects such as drowsiness, dizziness or stomach irritation. Many patients taking these medications come to accept these conditions as part of daily life, but they may find a better solution through pharmacy compounding.</p>

                </div>
            </div>
        </div>
    </section>

    <section id="company-information" class=" wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p><b>Compounding offers personalized pain relief.</b></p>
                    
                    <p>Struggling through chronic pain or the side effects of pain medication does not have to be a daily activity. Pharmacy compounding offers patients customized options for pain medication. Compounding is the art and science of preparing customized medications for patients. It provides valuable benefits to those for whom pain management has become a way of life.

                    Every individual is unique, and the types of pain experienced can be equally diverse. By working with a compounding pharmacist, your healthcare provider can prescribe treatments tailored specifically for your pain management needs.</p>


                    <p>Many patients experience stomach irritation or other unpleasant side effects from taking pain medication. Some have difficulty taking the medication in its commercially available form. Pharmacy compounding can provide alternate methods of delivery to make the process easier. Instead of a capsule or tablet, pain medications often can be compounded as dosage forms such as:</p>

                    <ul>
                    	<li>A topical gel, cream or spray form that can be applied directly to the site of the pain and absorbed through the skin.</li>
                    	<li>A custom-flavored troche that dissolves under the tongue, a nasal spray, or a suppository.</li>
                    </ul>

                    <p>Such dosage forms may bypass the gastrointestinal tract, providing optimal results with less GI irritation, and help patients who have difficulty swallowing pills, removing yet another source of aggravation.</p>

                    <p><b>Combined Formulations</b></p>

                    <p>Some chronic pain sufferers are placed on a variety of medications to help address the symptoms associated with their condition. On many occasions, multiple medications can be combined into a single dose of a specially prepared compound that combines the medications into a single capsule or topical preparation, providing greater convenience for the patient.</p>

                    <p><b>Strength Variations</b></p>

                    <p>Because patients vary in size, symptoms, and pain tolerance, commercially available medications sometimes may not provide the appropriate dosage strength for an individual patient. Through compounding, a prescriber and pharmacist can customize the dosage to the exact amount the patient requires, and find a dosage form that best suits the patient’s needs.

                    Pain can be debilitating, whether it’s acute muscle or nerve pain resulting from an accident, or a chronic condition such as arthritis or fibromyalgia. Pharmacy compounding may help improve a patient’s quality of life by providing relief with potentially fewer side effects and less overall medication.

                    Through compounding, pain relief can be customized to your specific needs. Ask your physician or our pharmacist today about the benefits of personalized compounding.</p>

                </div>
            </div>
        </div>
    </section>