<section id="page-breadcrumb">
        <div class="vertical-center dog" >
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Veterinary Compounding</h1>
                            
                        </div>
                     </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#page-breadcrumb-->

    <section id="company-information" class=" wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="container">
            <div class="row">

            <%#= image_tag("dog.png", class: "img-responsive pull-right", width: "100px;") %>
                 
                <div class="col-sm-10 ">
                    <p><b>Your pets are special. Why not give them customized care?</b></p>
                    <p>As a pet owner, you want your pet to receive the highest-quality veterinary care.

					You want them to have treatment as sophisticated and compassionate as you might receive yourself. You’re not alone. Today’s veterinarians realize that pet owners are very knowledgeable, and expect a more advanced level of care.

					Why should you consider compounding as a solution for your pet’s medical problems?

					That can be answered with another question: how hard is it to get your cat to swallow a pill?</p>

                </div>
                
                    
                 
            </div>
        </div>
    </section>

    <section id="company-information" class=" wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p><b>Veterinary compounding – making medication a treat for your pet.</b></p>
                    
                    <p>The practice of pharmacy compounding is becoming a popular solution to veterinary problems. Compounding is the art and science of preparing customized medications for patients. Its resurgence in recent years extends valuable benefits to today’s pet owners. Animals often have variations of the same diseases humans can have, including skin rashes, eye and ear infections, heart conditions, cancer, and diabetes. Medicating pets presents unique problems that often are best dealt with through compounding.</p>

                    <p><b>The Compounding Solution</b></p>

                    <p>As any pet owner is well aware, animals can be extremely difficult to treat with medications. Cats are notorious for refusing to swallow pills, and usually will eat right around one disguised in food. Dosages can be very tricky with dogs – a dose of medication that works for an 80-pound Golden Retriever may be far too much for a six-pound Yorkie to handle. Large and exotic pets pose many unique medication challenges. A compounding pharmacist is equipped to help them all!</p>

                    <ul>
                    	<li>Cats</li>
                    	<li>Dogs</li>
                    	<li>Horses</li>
                    	<li>Rabbits</li>
                    	<li>Birds</li>
                    	<li>Ferrets</li>
                    	<li>Reptiles</li>
                    	<li>Even animals in zoos and aquariums!</li>
                    </ul>

                    <p><b>Flavored Medicine</b></p>

                    <p>The pet who refuses to take medication because of the taste is a prime opportunity for compounding. Cats don’t like pills, but they do like tuna. Dogs don’t appreciate a traditional solution of medication being squirted into their mouth, but they’ll take it gladly when it’s flavored with meat or part of a tasty biscuit or treat. Birds cannot take large volumes of liquid medication, but they will accept a small dose of a tasty, fruit-flavored, concentrated solution. By working closely with your veterinarian, a compounding pharmacist can prepare medicines in easy-to-give flavored dosage forms that animals happily devour, whether your pet is a cat, dog, bird, ferret, or snake.</p>

                    <p><b>Solving Dosage Problems</b></p>

                    <p>Just like their owners, animals are individual and unique. They come in different shapes and sizes, and may be sensitive to ingredients like lactose. As a result, not all commercially available medicines are appropriate for every pet. That’s where compounding is especially helpful. In this situation, your veterinarian can prescribe a flavored liquid, treat, or other dosage form with the amount of medication that is exactly right for your pet’s size and condition.</p>

                    <p><b>Commercially Unavailable Medicine</b></p>

                    <p>From time to time, a manufacturer may discontinue a veterinary medication. Often this is because it is not needed in the vast quantities necessary to make mass production cost-effective, but that doesn’t mean there aren’t still some pets that need it. When that medication has worked well for animals, a compounding pharmacist can prepare a prescription for the required therapy – and tailor the strength, dosage form, and flavor to that pet’s specific needs.A caring veterinarian working closely with a compounding pharmacist can improve the health and happiness of your pet.</p>

                </div>
            </div>
        </div>
    </section>