<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Name: <%=  @name  %></h2>
    <h2>Email: <%= @email %> </h2>
    <h2>Message: </h2><p><%=  @message %></p>
  </body>
</html>