<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center bottom-separator">
                <%= image_tag('home/under.png', class: 'img-responsive inline') %>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="testimonial bottom">
                    <h2>Testimonial</h2>
                    <div class="media">
                        <div class="pull-left">
                            <%= image_tag('testimonial1.jpg', class: 'img-responsive inline img-circle', size: "81x81") %>
                        </div>
                        <div class="media-body">
                            <blockquote>Hicare Pharmacy has been a wonderful asset to our community. The staff is always helpful, courteous and very knowledgeable…Keep up the great work!</blockquote>
                            <h3><a href="#">- Linda P, Belleville</a></h3>
                        </div>
                     </div>
                    <div class="media">
                        <div class="pull-left">
                            <a href="#"><%= image_tag('testimonial2.jpg', class: 'img-responsive inline img-circle', size: "81x81") %></a>
                        </div>
                        <div class="media-body">
                            <blockquote>They are great people have a friendly staff! Prices are great! Shop locally is the best. Please support them they have a great crowd and are nice people!”</blockquote>
                            <h3><a href="">- Steven Dodgeville</a></h3>
                        </div>
                    </div>   
                </div> 
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="contact-info bottom">
                    <h2>Contacts</h2>
                    <address>
                    E-mail: <a href="mailto:hicarerx@gmail.com">hicarerx@gmail.com</a> <br> 
                    Phone: <a href="tel:17137998880">+1 (713) 799 8880</a> <br> 
                     
                    </address>

                    <h2>Address</h2>
                    <address>
                    7814 Almeda Rd, <br> 
                    Houston, <br> 
                    Texas, 77054 <br> 
                    USA <br> 
                    </address>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="contact-form bottom">
                    <h2>Send Us a message</h2>
                    <%#= form_for Contact.create, html: {  id: "main-contact-form" } do %>
                    <form id="main-contact-form" action="contacts" method="post" >
                        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                        <div class="form-group">
                            <input type="text" name="contact[name]" class="form-control" required="required" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="email" name="contact[email]" class="form-control" required="required" placeholder="Email address">
                        </div>
                        <div class="form-group">
                            <textarea name="contact[message]" id="message" required="required" class="form-control" rows="8" placeholder="How can we help you?"></textarea>
                        </div>                        
                        <div class="form-group">
                            <input type="submit" name="contact[submit]" class="btn btn-submit" value="Send">
                        </div>
                    </form>
                    <%# end %>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="copyright-text text-center">
                    <p>&copy; Hi-Care Rx 2014. All Rights Reserved.</p>
                    <p>Designed by <a target="_blank" href="http://www.ondo.nyc">Ondo</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
