<header id="header">      
    <div class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to root_path, class: "navbar-brand"  do %>
                    <h1><%= image_tag("hicare-logo.png", class: 'img-responsive') %></h1>
                <% end %>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    
                    <li class=""><%= link_to "Blog", blogs_path %></li>
                    <li class=""><%= link_to "Men's Health", page_path('mens-health') %></li>
                    <li class=""><%= link_to "Women's Health(BHRT)", page_path('bhrt') %></li>
                    <li class=""><%= link_to "Veterinary", page_path('veterinary') %></li> 
                    <li class=""><%= link_to "Pain Management", page_path('pain-management') %></li> 
                    <li><a href="#footer">Contact us</a></li>
                                 
                </ul>
            </div>
           
        </div>
    </div>
</header>
