<!DOCTYPE html>
<html>
<head>
  <title>Hi-Care Rx</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
   <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNYCx0Z4PoG2dtzOanU5-DP73o-kWytDg">
    </script> 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  



  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- <link rel="shortcut icon" href="<%#= asset_url ('/ico/favicon.ico') %>"> -->
    
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= asset_url ('/ico/apple-touch-icon-144-precomposed.png') %>">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= asset_url ('/ico/apple-touch-icon-144-precomposed.png') %>">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= asset_url ('/ico/apple-touch-icon-72-precomposed.png') %>">
    <link rel="apple-touch-icon-precomposed" href="<%= asset_url ('/ico/apple-touch-icon-57-precomposed.png') %>"> 
</head>
<body>
<%= render 'header' %>
<div class="<%= unless params[:controller] == "high_voltage/pages" then params[:controller] else params[:id] end %>">
  <%= yield %>
</div>
<%= render 'footer' %>
</body>
</html>
